.motivo-banner-buttons{
  width:100%;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #FFF;
}
.motivo-banner-buttons .motivo-banner-button-container{
  float:left;
  width: 33.33%;
  margin: -36px 0px 0px 0px;
  cursor:pointer;
}
.motivo-banner-buttons .motivo-banner-button-container a:hover{
  text-decoration: none;
}
.motivo-banner-buttons .motivo-banner-button-container a .motivo-banner-button-title{
  background: #000;
  border-radius: 100%;
  padding: 30px 0px 45px 0px;
  text-align: center;
  color: #FFF;
  width: 70%;
  margin: 0px auto -50px auto;
}
.motivo-banner-buttons .motivo-banner-button-container a .motivo-banner-button-title h3{
  margin: -15px 0px 0px 0px;
}
.motivo-banner-buttons .motivo-banner-button-container a .motivo-banner-button-content{
  padding: 20px 0px 10px 0px;
  text-align: center;
  color: #FFF;
  background: #000;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  height:72px;
}
.motivo-banner-buttons .motivo-banner-button-container a .motivo-banner-button-content p {
  color: #FFF;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
}
.motivo-banner-buttons .motivo-banner-button-container:hover{
  margin-top: -54px;
}
.motivo-banner-buttons .motivo-banner-button-container:hover .motivo-banner-button-title{
  background: #91d200;
}
.motivo-banner-buttons .motivo-banner-button-container:hover .motivo-banner-button-content{
  background: #91d200;
  padding-bottom:30px;
  height:90px;
}
#banner-section {
    height: auto !important;
    position: relative;
}
.banner-content strong {
    font-weight: 800;
    font-family: 'ProximaNova-Bold', Arial;
}
.banner-content h1 {
    font-size: 100px !important;
}
.banner-title{
  width:100%;
  margin: 0px 0px 30px 0px;
}
.banner-title:after,.banner-title:before{
  content:'';
  display:block;
  clear:both;
}
.banner-title h1{
  float: left;
  margin: 10px 20px 0px 0px;
}
.banner-title h2{
  float: left;
}
.parrot {
    position: relative;
    bottom: 0;
    top: auto !important;
}
.apply-now-pointer{
  margin:30px 0px 0px 0px;
}
.apply-now-pointer img{

}
.tooltip{
  display:none;
  background: #90d33b;
  color:  #FFF;
  opacity: 1;
  font-size: 13px;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  left: -35px;
  top: -40px;
  border-radius: 4px;
}
a:hover .tooltip{
  display: block;
  position: absolute;
}
.bio .contact-info a{position:relative;}
.tooltip:after {
    content: '';
    border transform-style:;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    left: 40px;
    border-style: solid;
    border-color: #90d43b #1110 #1110 #1110;
    border-width:  10px 10px 10px 10px;
}

.bio-text {
    height: 140px;
    position: relative;
}
.bio-text span {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #111;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    left: -20px;
    right: -20px;
    bottom: -20px;
    cursor: pointer;
}
.team-members .bio h4{
  font-size: 13px;
  margin: 5px 0px 20px 0px;
  color: #9b9b9b;
}

@media screen AND (min-width:0px) AND (max-width:720px){
  #banner-section {
      height: auto;
      text-align: center;
  }
  .banner-title h1 {
      float:  none;
      font-size: 80px !important;
      margin: 0px 0px 0px 0px;
  }
  .banner-title h2 {
      float: none;
  }
  .apply-now-pointer{
    display:none;
  }
  .motivo-banner-buttons{position:relative;}
  .motivo-banner-buttons .motivo-banner-button-container{width:auto;float:none;border:0px;margin:0px -15px;background:#000;padding:20px 0px;position:relative;height:auto;border-top:1px solid #FFF;}
  .motivo-banner-buttons .motivo-banner-button-container a .motivo-banner-button-title{border-radius:0px;width:100%;margin:0px 0px 0px 0px;padding:0px;display:block;position:relative;height:auto;}
  .motivo-banner-buttons .motivo-banner-button-container a .motivo-banner-button-title h3{margin:0px 0px 0px 0px;}
  .motivo-banner-buttons .motivo-banner-button-container a .motivo-banner-button-content{height:auto;border:0px;padding:0px;}
  .banner-title h1 {
    font-size: 0px !important;
  }
  .banner-title h1:before {
    float: none;
    font-size: 70px !important;
    margin: 0px 0px 0px 0px;
    content: 'Hello You';
    display:block;
  }
  .banner-title h1:after {
    float: none;
    font-size: 40px !important;
    margin: 30px 0px -15px 0px;
    content: 'We\'re ';
    display:block;
  }
}
#head-section{
  position: relative!important;
}
#banner-section{
  margin-top:0px !important;
  padding-top:60px !important;
  /* height:660px !important; */
}
.job-interview{
  background: #EEEEEE;
}
.job-interview img{
  display: inline-block;
  margin: 0px 20px 0px 0px;
}
.job-interview span{
  color: #111111;
  font-size: 18px;
  font-weight:600;
  height:50px;
  line-height: 50px;
}
.job-interview span span{
  font-size: 18px;
  font-weight:600;
  color:#672C80;
}
.job-interview .video-toggle {
  height:50px;
  line-height: 50px;
  float: right;
  padding: 0px 20px;
  font-weight: 600;
  text-decoration: none;
  color:#FFF;
  font-weight:600;
  background: #672C80;
}
.job-interview .video-toggle:hover{
  background: rgba(103, 44, 128, 0.8);
}
.job-interview .video-toggle strong{
  font-weight: bold;
}

.job-interview-wrapper{
  width: 100%;
  height:100vh;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 10000;
  padding: 5% 0px 0px 0px;
  display: none;
  min-height: 600px;
}
.job-interview-wrapper h1{
  font-size:25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.job-interview-wrapper span{
  color:#672C80;
}
.job-interview-wrapper a{
  border-radius: 100%;
  border:2px solid #111;
  color:#111;
  text-shadow: 0px;
  opacity: 1 !important;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.job-interview-wrapper a:hover{
  color:#FFFFFF;
  background: #111111;
}


@media screen and (min-width:0) and (max-width:800px){
  #banner-section {
      height: auto !important;
  }
  .motivo-banner-buttons .motivo-banner-button-container:hover {
      background: #90d33b;
      margin: 0px -15px !important;
  }
  .motivo-banner-buttons .motivo-banner-button-container:hover .motivo-banner-button-content{
    padding:0px;
    height:auto;
  }
}

.nav ul li { position: relative; }
.nav ul li ul { display: none; }
.nav ul li:hover ul { display: block; margin: 0; padding: 0; position: absolute; right: 10px; }
